body {
  font-family: Helvetica,'Courier New', Courier, monospace;
  text-align: center;
  color: black;
  margin:0;   
  min-width: 200px;
}

#navbar{
  display: flex;
  justify-content: flex-start;
  height:5%;
  width:100%;
  background-color: #DDE7EF;
  top: 0;  
  position: sticky;
  z-index: 1;
}

.navbar-icon{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 4px;
  border-radius: 8px;
}

.navbar-icon:hover{
  cursor: pointer;
  background-color: #a8afb4;
}
#logout_button{
  align-self:center;
  margin-left: auto; /* Pushes the button to the right */
  height: 24px;
}
#popup_close{
    margin-right: 16px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.menu-header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 0;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    color:red;
  }
  
  select{
    background-color: white;
    border: thin solid black;
    border-radius: 5px;
    font-family: inherit;
  }

  #background_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1); /* Dark semi-transparent overlay */
    backdrop-filter: blur(2px); /* Apply blur to background */
    z-index: 1; /* Ensure it appears just below the popup */
}